:root {
  --primary: #a3a3a3;
  --backgroundColor: #a3f4ff;
  --secondary: #124b8b;
  --pink: #ffffff;
  --yellow: #2a6e40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--backgroundColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#drum-machine {
  width: 50%;
  padding: 2rem;
  background: var(--primary);
  margin: 13% auto 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  box-shadow: 0.5rem 0.5rem 1px var(--secondary);
}

@media screen and (max-width: 800px) {
  #drum-machine {
    grid-template-columns: 1fr;
  }
}

.drum-pad {
  display: grid;
  margin: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

#drum-pad {
  background: var(--backgroundColor);
  color: var(--secondary);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1px var(--secondary);
}

.active-style {
  transform: scale(0.95);
}

/* Display */

#display {
  display: grid;
  text-align: center;
  gap: 1rem;
}

#display label {
  font-family: "Times New Roman", Times, serif;
  color: var(--pink);
}

.interruptor {
  background: var(--yellow);
  height: 1.5rem;
  width: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  cursor: pointer;
}

.interruptor-btn {
  background-color: var(--backgroundColor);
  width: 1.3rem;
  height: 1.3rem;
  border: transparent;
  margin: auto;
}

.off {
  grid-area: 1/2;
}

.on {
  grid-area: 0/1;
}

.type {
  background: var(--yellow);
  height: 2rem;
  color: var(--pink);
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#volume {
  width: 70%;
  margin: auto;
}
